

<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">

    <span class="nav-title">Категории</span>

    <!--    иконка добавления новой категории -->
    <span class="add-icon-area">

          <button mat-icon-button  class="add-icon" (click)="openAddDialog()">
      <mat-icon >add</mat-icon>
        </button>
    </span>

  </div>


  <!--      поиск категорий -->
  <div class="search-category-area">

    <mat-form-field class="example-full-width">
      <input

        #inputSearchCategory

        (keydown.escape)="searchCategoryTitle = ''; search()"
        (keyup)="search()"
        [(ngModel)]="searchCategoryTitle"

        matInput
        maxlength="256"
        placeholder="Поиск категорий"

      />

      <button
        (click)="searchCategoryTitle = ''; search()"
        *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
        class="search-category-button size25 gray"
        mat-button

        mat-icon-button

        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>

    </mat-form-field>

  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <div *ngIf="categories.length === 0" ><p class="not-found">Ничего не найдено</p></div>

      <li class="nav-item pointer" *ngFor="let category of categories" (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory">
        <a class="nav-link">
          <i class="material-icons">{{category.icon}}</i>
          <p>{{category.name}}</p>
        </a>
      </li>

    </ul>
  </div>
</div>


